<!-- views/partials/floating-elements.ejs - 带变体版本 -->
<!-- Floating decorative elements - 全部放大3倍并添加不同效果 -->

<div class="floating-element floating-element-1 large">
    <img src="/images/floating.gif" alt="Floating decoration">
</div>

<div class="floating-element floating-element-2 slow">
    <img src="/images/floating.gif" alt="Floating decoration">
</div>

<div class="floating-element floating-element-3 fast">
    <img src="/images/floating.gif" alt="Floating decoration">
</div>

<div class="floating-element floating-element-4 rotate">
    <img src="/images/floating.gif" alt="Floating decoration">
</div>

<div class="floating-element floating-element-5 bounce">
    <img src="/images/floating.gif" alt="Floating decoration">
</div>

<div class="floating-element floating-element-6 xlarge">
    <img src="/images/floating.gif" alt="Floating decoration">
</div>

<div class="floating-element floating-element-7">
    <img src="/images/floating.gif" alt="Floating decoration">
</div>

<div class="floating-element floating-element-8 slow rotate">
    <img src="/images/floating.gif" alt="Floating decoration">
</div>
