<%- include('partials/header', { title: 'цИСчЪДф╗кшбицЭ┐' }) %>
<div class="row">
    <div class="col-md-8 mx-auto">
        <h1 class="display-4">цмвш┐О, <%= username %>! ЁЯСЛ</h1>
        <p class="lead">ш┐ЩцШпф╜ачЪДшЩЪцЛЯхоачЙйчобчРЖф╗кшбицЭ┐</p>
        
        <div class="row mt-4">
            <div class="col-md-4">
                <div class="card text-center">
                    <div class="card-body">
                        <h5 class="card-title">ЁЯРЙ цИСчЪДхоачЙй</h5>
                        <p class="card-text">цЯечЬЛхТМчобчРЖф╜ачЪДшЩЪцЛЯхоачЙй</p>
                        <a href="#" class="btn btn-outline-primary">цЯечЬЛхоачЙй</a>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="card text-center">
                    <div class="card-body">
                        <h5 class="card-title">тЮХ цФ╢хЕ╗цЦ░хоачЙй</h5>
                        <p class="card-text">хп╗цЙ╛цЦ░чЪДшЩЪцЛЯф╝Щф╝┤</p>
                        <a href="#" class="btn btn-outline-success">цФ╢хЕ╗хоачЙй</a>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="card text-center">
                    <div class="card-body">
                        <h5 class="card-title">тЪЩя╕П шо╛ч╜о</h5>
                        <p class="card-text">чобчРЖф╜ачЪДш┤жцИ╖шо╛ч╜о</p>
                        <a href="/auth/logout" class="btn btn-outline-secondary">щААхЗ║чЩ╗х╜Х</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<%- include('partials/footer') %>
